<% if (theme.changyan.on && theme.reward.on){ %>
    <div id="cyReward" role="cylabs" data-use="reward" style="text-align:center;margin-top:50px"></div>
<% } %>

<section class="changyan" id="comments">
  <!--<div id="uyan_frame"></div>-->
  <div id="SOHUCS"></div>
  <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js"></script>
  <script type="text/javascript">
    window.changyan.api.config({
      appid: '<%= appid%>',
      conf: '<%= conf%>'
    });
  </script>
</section>
<% if (theme.changyan.on && theme.reward.on){ %>
    <script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cytncUiAO"></script>
<% } %>

